# Скомпилированные файлы
task-manager-app
notifier-app
*.exe
*.exe~
*.dll
*.so
*.dylib

# Папки зависимостей и инструментов
bin/
obj/
vendor/

# Переменные окружения (секреты)
.env

# Файлы IDE
.idea/
.vscode/

# Docker данные (если вдруг они создались локально)
postgres_data/

# Логи
*.log